name: Create Artifacts

on: [push, workflow_dispatch]

jobs:
  test:
    name: Test Code
    runs-on: ubuntu-latest
 
  build:
    name: Build Executables
    runs-on: ubuntu-latest
    needs: test

  test-linux:
    name: Test Linux Executable
    runs-on: ubuntu-latest
    needs: build
